.SaleTag button{
    position: absolute;
    top: 0px;
    right: 10px;
    padding: 10px;
    display: flex;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
    box-shadow: 5px 6px 14px 1px #0000003a;    
    font-size: 16px;
    color: var(--primary-background-color);
}
/* @media only screen and (max-width: 800px){
    .SaleTag{
        left: 150px;
    }
} */
@media only screen and (max-width: 600px){
    .SaleTag{
        width: 30px;
        height: 30px;
        font-size: 10px;
    }
}
