.SaleTag {
    position: absolute;
    top: 5px;
    left: 80px;
    padding: 5px;
    padding-top: 10px;
    display: flex;
    color: var(--primary-color);
    background: var(--primary-background-color);
    border-radius: 50%;
}
